<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form class="" action="/team" method="post">
     <label>Name:<input type="text" name="name" value=""></label>
     <label>Coach:<input type="text" name="coach" value=""></label>
     <label>Point Guard:<input type="text" name="pg" value=""></label>
     <label>Shooting Guard:<input type="text" name="sg" value=""></label>
     <label>Power Forward:<input type="text" name="pf" value=""></label>
     <label>Small Forward:<input type="text" name="sf" value=""></label>
     <label>Center:<input type="text" name="c" value=""></label>
     <input type="submit" name="" value="Submit">
   </form>
 </body>
</html>
